numpy
opencv-python
Keras
Keras-Applications
Keras-Preprocessing
keras-vggface
imageio
imageio-ffmpeg
matplotlib
moviepy
Pillow
PyYAML
tensorboard
tensorflow==2.7.0
tensorflow-estimator
tensorflow-probability==0.15.0
ipython